.main {
  display: flex;
  flex-direction: column;
  font-family: "digital";
}

.prize-box {
  background-color: #646464;
  border-radius: 1vw;
  height: 5vw;
  text-align: center;
  padding-top: 1vw;
  font-size: 2vw;
  margin-bottom: 1vw;
  justify-content: space-around;
  padding-right: 2vw;
  padding-left: 2vw;
}

.gold {
  color: #fbff00;
}

.silver {
  color: #c4c4c4;
}
.copper {
  color: #c57e24;
}
