<div class="main">
  <div class="prize-box w-100 d-flex flex-row gold">
    <div>🏆</div>
    <div>$5,625</div>
  </div>
  <div class="prize-box w-100 d-flex flex-row silver">
    <div>🥈</div>
    <div>-------</div>
  </div>
  <div class="prize-box w-100 d-flex flex-row copper">
    <div>🥉</div>
    <div>-------</div>
  </div>
  <div class="prize-box w-100 d-flex flex-row">
    <div>4th</div>
    <div>-------</div>
  </div>
  <div class="prize-box w-100 d-flex flex-row">
    <div>5th</div>
    <div>-------</div>
  </div>
</div>
