<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="h-100">
  <app-top-banner class="top-banner row"></app-top-banner>
  <div class="main-panel">
    <div class="left-panel d-flex justify-content-center">
      <app-left-panel class="w-100"></app-left-panel>
    </div>
    <div class="timer d-flex justify-content-center">
      <app-timer></app-timer>
    </div>
    <div class="right-panel d-flex justify-content-center">
      <app-right-panel></app-right-panel>
    </div>
  </div>
</div>
<!-- <div class="container h-100">
  <div class="row h-100">
    <div class="col-12 h-50 bg-primary">
      This div takes up 50% of the container's height.
    </div>
    <div class="col-12 h-50 bg-secondary">
      This div takes up the remaining 50% of the container's height.
    </div>
  </div>
</div> -->
