<div class="main">
  <div class="info">
    <div *ngIf="smallBlind[currentLevel] !== 'break'" class="title">
      LEVEL {{ currentLevel + 1 - breakTime }}
    </div>
    <div *ngIf="smallBlind[currentLevel] === 'break'" class="break">
      🧻 🚬 🍻 BREAK 🍻 🚬 🧻
    </div>
    <div *ngIf="smallBlind[currentLevel] !== 'break'" class="sub-info">
      ({{ smallBlind[currentLevel] }}/{{ bigBlind[currentLevel] }})
    </div>
    <div *ngIf="smallBlind[currentLevel] === 'break'" class="sub-info break">
      Please return in :
    </div>
  </div>
  <span class="timer" [ngClass]="{ 'text-red': minutes < 1 }">
    {{ minutes.toString().padStart(2, "0") }}:{{
      seconds.toString().padStart(2, "0")
    }}
  </span>
  <div class="info">
    <div class="title">NEXT LEVEL</div>
    <div *ngIf="smallBlind[currentLevel + 1] !== 'break'" class="sub-info">
      ({{ smallBlind[currentLevel + 1] }}/{{ bigBlind[currentLevel + 1] }})
    </div>
    <div
      *ngIf="smallBlind[currentLevel + 1] === 'break'"
      class="sub-info break"
    >
      🧻 🚬 🍻 BREAK 🍻 🚬 🧻
    </div>
  </div>
</div>
